@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #efefef;
  font-family: "Poppins", sans-serif;
}
#headerBlock {
  background-color: royalblue;
  color: #fff;
  height: 60px;
}
#headerBlock nav {
  display: flex;
  align-items: center;
  height: 60px;
  width: 80%;
  margin: 0 auto;
}
#headerBlock nav div {
  flex: 1;
}
ul {
  list-style: none;
  display: flex;
}
ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
ul li a:hover {
  background-color: mediumvioletred;
}
#employeeBlock {
  background-color: #fff;
  width: 70%;
  margin: 10px auto;
  padding: 10px;
  height: 25vh;
}
#employeeBlock h3 {
  text-transform: uppercase;
  padding: 14px 0;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  margin: 0px 0 20px 0;
}
form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
form div label {
  display: block;
  padding: 10px 0;
}
form div input {
  width: 150%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
form div button {
  position: absolute;
  top: 90px;
  left: 10px;
  background-color: royalblue;
  padding: 10px 20px;
  border: 1px solid transparent;
  color: #fff;
  margin: 20px 0;
}
table {
  width: 70%;
  margin: 10px auto;
  padding: 10px 30px;
  border: 1px solid #000;
}
thead {
  background-color: cornflowerblue;
  color: #fff;
}
tbody {
  background-color: paleturquoise;
  font-size: 20px;
  text-transform: uppercase;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
tr {
  text-align: center;
}
a {
  text-decoration: none;
}
